body{
    background: rgb(230, 240, 211);
}
nav{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.home ,.contact, .services{
    padding: 20px;
    color: blue;
}
.btn{
    background: blueviolet;
    height: 60px;
    width: 500px;
    font: 900;
    color: white;
    align-content: center;
    text-align: center;
    position: relative;
    left: 33%;
}
.btn1{
    background: gray;
    height: 60px;
    width: 500px;
    font: 900;
    color: white;
    align-content: center;
    text-align: center;
    position: relative;
    left: 33%;
}
.btn2{
    background: black;
    height: 60px;
    width: 500px;
    font: 900;
    color: white;
    align-content: center;
    text-align: center;
    position: relative;
    left: 33%;
}
